<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Tests" verbose="5">
  <test thread-count="1" name="Test">
    <classes>
      <class name="testcases.Loginpage_Testcases"/>
      <class name="testcases.Dashboardpage_Testcases"/>
      <class name="testcases.UserGroup_Testcases"/>
      <class name="testcases.RolePage_Testcases"/>
      <class name="testcases.Authorization_Testcases"/>
      <class name="testcases.Tenant_Testcases"/>
      <class name="testcases.UserManagePage_Testcases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->